.cproject
.mxproject
.project
.settings/
Core/Inc/
Core/Src/stm32f4xx_hal_msp.c
Core/Src/stm32f4xx_it.c
Core/Src/syscalls.c
Core/Src/sysmem.c
Core/Src/system_stm32f4xx.c
Core/Startup/
Debug/
Drivers/
*.launch
*.ld
*.ld
*Debug.cfg
